.Banner {
  display: flex;
  width: 70%;
  margin: 0 auto 80px auto;
}

.Banner h2 {
  font-family: serif;
  font-size: 45px;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 2px;
}

.Banner p {
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
}

.banner-left {
  width: 50%;
}

.banner-right {
  background-image: url(http://images1.variety.com/graphics/photos/_specials-art2/support-Robert-De-Niro.jpg);
  background-size: cover;
  margin-top: 45px;
  width: 50%;
}

.button-holder {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {

  .Banner {
    flex-wrap: wrap;
  }

  .banner-left {
    width: 100%;
  }

  .banner-right {
    display: none;
  }

}
